
<section class="buy">
    <img class="buy__vinyle" src="./assets/img/album.jpg"  alt="vinyle"/>
    <div class="buy__description">
        <h2>Disponible dans <span class='red'>:<span></h2>
        <div class="buy__timer">
            <div id="hr">00</div> H:
            <div id="min">00</div> M:
            <div id="sec">00</div>S
        </div>
        <div class="buy__description--details">
            <p>Prix : 15 euros</p>
            <p>Michael Jackson | Format : Vinyle</p>
            <p>Dimensions du produit (L x l x h) : 28.19 x 27.94 x 1.02 cm;</p>
            <p>Fabricant : Epic</p>
            <p> Date de sortie d'origine : 1998</p>
        </div>
        <button class="buy__description--reserve">Commander</button>
    </div>
</section>
