
<section class="clip">
    <div class="clip__description">
        <p class="clip__description--texte">Le clip de <strong class="presentation__description--titre">Thriller</strong>  fut le premier clip annoncé comme une « World Premiere » (« Première Mondiale ») sur MTV et a été diffusé la première fois le 2 décembre 1983. Digne d'un court métrage, il est considéré comme le clip le plus célèbre et révolutionnaire de l'histoire de ce format audiovisuel, ainsi que comme un phénomène de la culture pop et un hymne d'Halloween.</p>
        <img class="clip__signature" src="./assets/img/signature.png"  alt="signature de Michael Jackson"/>
    </div>
    <img class="clip__screen" src="./assets/img/clip.jpg"  alt="screenshot du clip de Thriller"/>
</section>