<section class="home">
    <div>
        <h1 class='home--titre'>Thriller</h1>
        <div class="home--bounce">
            <a href="#" class=".home--down"><i class="fa fa-arrow-alt-circle-down "></i></a>
        </div>
    </div>
    <img src="./assets/img/tombe.png"  alt="des tombes"/>
</section>


