<section class="home">
    <img class="home__sang" src="./assets/img/sang.png"  alt="du sang"/>
    <div>
        <h1 class='home__titre'>Thriller</h1>
        <div class="home__bounce">
            <a href="#presentation" class=".home__down"><img class="buy__vinyle" src="./assets/img/bounce.png"  alt="bouton"/></a>
        </div>
    </div>
    <img src="./assets/img/tombe.png"  alt="des tombes"/>
</section>


