
<section class="media">
    <div class='media__reseaux'>
        <a href="https://www.instagram.com/m_lherve/?hl=fr">
                <i class="fa fa-instagram red"></i>
        </a>
          <a href="https://manonlherve.alwaysdata.net/">
             <i class="fa fa-globe red"></i>
        </a>
        <a href="https://www.linkedin.com/feed/">
            <i class="fa fa-linkedin red"></i>
        </a>
    </div>
    <h3>Site fictif réalisé dans le cadre d'un projet Universitaire.</h3>
</section>