<section id="presentation" class="presentation">
    <div class="presentation__description">
        <p>Thriller est le sixième album studio de l'artiste américain <strong class="presentation__description--titre">Michael Jackson</strong>. Coproduit par Quincy Jones, il sort le 30 novembre 1982 chez Epic Records, à la suite du succès commercial et critique de l'album Off the Wall (1979).</p>
    </div>
    <img class="presentation__mortVivant" src="./assets/img/mort-vivant.png"  alt="un mort vivant"/>
</section>

