* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}
