.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "horreur";
  position: relative;
  overflow: hidden;
}

.home div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__titre {
  font-family: "creepster", cursive;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 0.4rem;
  padding: 10vh 0 10vh;
  @include medium {
    padding: 20vh 0 10vh;
  }
  @include large-only {
    font-size: 8em;
  }
}

.home__sang {
  display: block;
  @include small {
    display: none;
  }
}
.home a {
  color: (--secondary-color);
  display: flex;
  justify-content: center;
}

.home__bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  width: 20%;
  @include medium {
    width: 30%;
  }
  @include large-only {
    width: 25%;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.hero_fg {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  height: 344px;
  width: 1920px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
