<!DOCTYPE html>
<html lang="fr">
  <head>
   <title>Thriller | Michael Jackson</title>
   <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="Site réalisé dans le cadre de mes études en MMI" />
    <meta name="keywords" content="thriller michael jackson vinyle" />
    <meta name="author" content="Manon L'Hervé" />
    <meta name="viewport"content="width=device-width, initial-scale=1, maximum-scale=1"/>
     <!-- CSS -->
    <link rel="stylesheet" href="./assets/scss/styles.scss/" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
   <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <!-- script -->
    <script src="https://kit.fontawesome.com/007c5523e8.js" crossorigin="anonymous"></script>
    <script src='http://use.edgefonts.net/creepster.js'></script>
  </head>
  <body>
    <!-- Back to top button -->
      <button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>
    <!-- BLOCS -->
      include ./includes/home.pug
      include ./includes/presentation.pug
      include ./includes/clip.pug
      include ./includes/buy.pug
      include ./includes/media.pug
      include ./includes/footer.pug
    <!-- JS -->
    <script src="./assets/js/main.js"></script>
  </body>
</html>
